
div {
    text-align: center;
    /* padding: 25px 50px 75px 100px; */
  }
.hover-button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  font-family: Arial;
  color: #ffffff;
  font-size: 55px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 300px; /* Set the desired width */
  height: 180px; /* Set the desired height */
  margin: 10px; /* Add some margin for spacing */
  text-align: center;
  border: none;
  }
