<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Word Hover Sound</title>
</head>
<body>
    <div class="division">
        <button id="ask-me-button" class="hover-button ask-me">Ask me</button>
        
    </div>
    
    <div class="division">
        <button id="get-battery" class="hover-button">Get Battery % </button>
        <p id="battery-percentage"></p>
    </div>
    
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


